<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
        </Console>
        <RollingFile name="DailyRollingFile" fileName="${sys:SFTP_HOME}/sftp.log"
            filePattern="${sys:SFTP_HOME}/sftp%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
            <TimeBasedTriggeringPolicy  interval="1"/>

        </RollingFile>
        <File name="file" fileName="${sys:SFTP_HOME}/finish.log">
        	<PatternLayout pattern="%m%n"/>
        </File>
        <File name="record" fileName="${sys:SFTP_HOME}../finish.log">
        	<PatternLayout pattern="%m%n"/>
        </File>
    </Appenders>
    <Loggers> 
        <Root level="info">
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
        <Logger level="info" name="com.example.sftp.demo.FileRecord" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <!--<Logger level="info" name="SftpDownload" additivity="false">-->
            <!--<AppenderRef ref="record"/>-->
        <!--</Logger>-->
    </Loggers>
</Configuration>